@layer components {
  .vp-highlight-wrapper {
    @apply relative flex items-center justify-center;

    &:nth-child(odd) .vp-highlight {
      @apply flex-row-reverse;
    }
  }

  .vp-highlight {
    @apply z-10 flex flex-1 items-center justify-end max-w-7xl mx-auto;
    padding: 1.5rem 2.5rem;

    @media (max-width: theme('screens.md')) {
      @apply block text-center;
      padding-inline: 1.5rem;
    }
  }

  .vp-highlight-bg {
    @apply absolute inset-0 z-0 bg-fixed bg-center bg-cover;

    &.light {
      @apply inline-block;
    }

    &.dark {
      @apply hidden;
    }

    [data-theme='dark'] &.light {
      @apply hidden;
    }

    [data-theme='dark'] &.dark {
      @apply inline-block;
    }
  }

  .vp-highlight-image {
    @apply w-48 my-8 mx-16;

    @media (max-width: theme('screens.sm')) {
      @apply w-40;
    }

    @media (max-width: theme('screens.md')) {
      @apply w-32 mx-auto my-0;
    }

    &.light {
      @apply inline-block;
    }

    &.dark {
      @apply hidden;
    }

    [data-theme='dark'] &.light {
      @apply hidden;
    }

    [data-theme='dark'] &.dark {
      @apply inline-block;
    }
  }

  .vp-highlight-info-wrapper {
    @apply flex flex-1 justify-center p-8;

    @media (max-width: theme('screens.md')) {
      @apply py-4 px-0;
    }

    &:only-child {
      @apply flex-[1_0_100%];
    }
  }

  .vp-highlight-info {
    @apply text-left;
  }

  .vp-highlight-header {
    @apply mb-6 border-b-0 font-[var(--vp-font)] text-4xl;

    @media (max-width: theme('screens.sm')) {
      @apply text-[2.5rem];
    }

    @media (max-width: theme('screens.md')) {
      @apply text-[2.25rem] text-center;
    }

    @media (max-width: theme('screens.xs')) {
      @apply text-[2rem];
    }
  }

  .vp-highlight-description {
    @apply my-4 text-lg;
  }

  .vp-highlights {
    margin-inline-start: -1.25em;
    @apply pl-0;

    :not(pre) > code {
      @apply text-[var(--vp-c-text)];
    }
  }

  .vp-highlight-item-wrapper {
    @apply relative py-2 px-2 pr-7 rounded-lg list-none;

    &.link {
      @apply cursor-pointer text-muted hover:text-inherit no-underline;

      &:hover {
        @apply bg-[var(--vp-c-bg-alt)];

        .vp-highlight-bg + .vp-highlight & {
          @apply bg-transparent;
          backdrop-filter: blur(12px);
        }

        &::before {
          content: '➜';
          @apply block float-right;
        }
      }

      &:active {
        @apply scale-[0.96];
      }
    }
  }

  .vp-highlight-item {
    @apply list-item text-current list-inside;
    &.link {
      @apply text-muted hover:text-inherit no-underline;
    }
    @media print {
      @apply no-underline;
    }
  }

  .vp-highlight-title {
    @apply m-0 font-semibold text-lg flex-space-2 no-underline;

    .vp-icon {
      @apply me-1;
    }
  }

  .vp-highlight-details {
    @apply mt-2 mb-0;
  }
}
