@utility border-dotted-* {
  border-style: dotted;
  border-width: 1px;
  border-color: --value(--color- *);
  @variant dark {
    border-color: --value(--color- * -400);
  }
}
@utility border-dashed-* {
  border-style: dashed;
  border-width: 1px;
  border-color: --value(--color- *);
  @variant dark {
    border-color: --value(--color- * -400);
  }
}

@utility text-muted {
  @apply text-gray-500 dark:text-gray-300;
}
/* Button Sizes */
@utility btn-xxs {
  @apply text-xxs px-1.5 py-1 flex-space-1;
}

@utility btn-xs {
  @apply text-xs px-3 py-1.5 flex-space-1;
}
@utility btn-sm {
  @apply text-sm px-3 py-2 flex-space-1;
}
@utility btn-lg {
  @apply text-base px-5 py-3;
}
@utility btn-xl {
  @apply text-lg px-6 py-4;
}

@utility btn-xxl {
  @apply text-xl px-8 py-6;
}
@utility badge {
  @apply text-xs;
  @apply font-medium;
  @apply rounded;
  @apply px-2.5 py-0.5;
  @apply bg-gray-100 text-gray-800 dark:bg-gray-700 dark:text-gray-100;

  &.xs {
    @apply px-1 py-0;
    @apply font-extralight;
  }

  &.sm {
    @apply px-1.5 py-0;
    @apply font-extralight;
  }

  &.lg {
    @apply text-sm font-medium;
  }

  &.xl {
    @apply text-base px-3 py-1 font-medium;
  }

  &.xxl {
    @apply text-lg px-4 py-1.5 font-medium;
  }

  &.pill {
    @apply rounded-full;
  }

  &.badge-light {
    background-color: --value(--color-gray-100) !important;
    color: --value(--color-gray-800) !important;

    @variant dark {
      background-color: --value(--color-gray-100) !important;
      color: --value(--color-gray-800) !important;
    }

    &.badge-outline {
      @apply border-gray-400;
    }
  }
}
